@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    overflow: hidden;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25rem;
    padding: 9.5rem 0 0;
}

.logo {
    height: 5rem;
    margin: 1.5rem 5%;
}

.nav-top {
    clear: both;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: yellow;
    text-align: center;
}

.nav-top a,
.nav-top a:link, 
.nav-top a:visited {
    margin: 0;
    padding: 1.5rem;
    display: block;
    text-decoration: none;
    color: black;
}

.nav-top li {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}

.nav-top li:first-child {
    background-color: orange;
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: white;
    text-align: center;
    margin: auto;
}


article {
    margin: 0;
    padding: 1rem 5%;
    overflow: hidden;
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

figure {
    margin: 1rem auto;
    width: 100%;
    border-radius: 2rem; 
}

figcaption {
    font-size: 1.25rem;
    color: white;
    padding: .5rem 5%;
    background-color: orange;
}

p {
    margin: -.5rem 1.5rem 1.5rem;
}

footer {
    margin: 0;
    padding: 1.5rem 5% 6rem;
    background-color: red;
    font-family: 'Amatic SC', cursive;
}

.nav-bottom {
    width: 40%;
    float: left;
}

.nav-bottom ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bottom a,
.nav-bottom a:link,
.nav-bottom a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.bucket2 {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    width: 60%;
    float: left;
}

.bucket2 li {
    float: left;
    width: 30%;
    margin: 0 5% 1.5rem 0;
    padding: 0;
}

.bucket2 li:last-child {
    margin: 0;
}

.bucket2 a,
.bucket2 a:link,
.bucket2 a:visited {
    display: block;
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 100% 0 0; /* height of image ÷ by width = % */
}

.one {
    background-image: url(../images/tumblr.svg);  
}

.two {
    background-image: url(../images/insta.svg);
}

.three {
    background-image: url(../images/facebook.svg);
}




